.table-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.short-left-padding {
  padding-left: 5px
}

.custom-modal {
  display: block;
  background-color: rgba(52,58,64,0.5);
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
